name: Waka Readme

on:
  schedule:
    - cron: '30 18 * * *'
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SHOW_COMMIT: "False"
          SHOW_OS: "False"
          SHOW_TIMEZONE: "False"
          SYMBOL_VERSION: 2
          SHOW_LOC_CHART: "False"
          SHOW_SHORT_INFO: "False"
          IGNORED_LANGUAGES: YAML JSON TOML
          BLOCKS: ⣀⣄⣤⣦⣶⣷⣿
          SECTION_NAME: waka
          
